xsm/xsm.aux
xsm/xsm.dvi
xsm/xsm.log
xsm/xsm.out
xsm/xsm.synctex.gz
xsm/xsm.toc

xos/xos.aux
xos/xos.dvi
xos/xos.log
xos/xos.out
xos/xos.synctex.gz
xos/xos.toc

xfs/xfs.aux
xfs/xfs.dvi
xfs/xfs.log
xfs/xfs.out
xfs/xfs.synctex.gz
xfs/xfs.toc

apl/apl.aux
apl/apl.dvi
apl/apl.log
apl/apl.out
apl/apl.synctex.gz
apl/apl.toc

spl/spl.aux
spl/spl.dvi
spl/spl.log
spl/spl.out
spl/spl.synctex.gz
spl/spl.toc

usage/usage.aux
usage/usage.dvi
usage/usage.log
usage/usage.out
usage/usage.synctex.gz
usage/usage.toc
